# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Envs
.venv/
venv/
.env
.env.*

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
